body {
  background-color: gray;
}

p {
  color: pink;
}

p.intro {
  color: pink;
  width: 50%;
  font-style: italic;
}
p.flashy {
  font-style: italic;
  color: red;
}

p.best {
  width: 75%;
  font-style: oblique;
  color: maroon;
}

h1 {
  text-align: center;
  font-size: 50px;
}
h2.flashy {
  color: red;
  font-style: italic;
  text-align: center;
}
h3.flashy{
  color: red;
  font-style: italic;
  text-align: center;
}

.best {
  text-align: center;
  font-weight: bold;
  color: green;
}

.imagecenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.important {
  font-style: italic;
  color: red;
}
